.ContactAdd{
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 342px;
    justify-content: space-around;
    position: absolute;
    margin-top: 11px;
    margin-left: 568px;
    text-align: center;
    font-size: 17px;
}

.ContactModify {

        display: flex;
        flex-direction: column;
        width: 252px;
        height: 342px;
        justify-content: space-around;
        /* position: absolute; */
        margin-top: -229px;
        margin-left: 554px;
        text-align: center;
        font-size: 17px;
}

.container{
    position: absolute;
    margin-top: -358px;
    margin-left: 470px;
    text-align: center;
}
.buttons{
    display: flex;
    width: 192px;
    justify-content: space-around;
    margin-left: 87px;
    text-decoration: none;
    color: black;
}
.listcontainer{
   
    text-align: center;
}
.listOfConatcs{
    border: 1px solid grey;
    width: 334px;
    text-align: center;
    font-size: 26px;
}
.ConList{
    display: flex;
    margin-top: 106px;
    justify-content: space-around;;
}
.col-xs-8
{    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 585px;
    position: relative;
    top: 325px;}

.card-title
    {    background: yellow;
        width: 143px;
        height: 87px;
        padding-top: 33px;}

        .contactInfo{
            display: flex;
            width: 300px;
            height: 240px;
            flex-direction: column;
            position: absolute;
            font-size: 20px;
            justify-content: space-around;
            border: 1px solid;
        }

        .hide{
            display: none;
        }